body {
    margin: 0;
}

h1 {
    font-family: 'Oswald', Helvetica, Arial, Lucida, sans-serif;
    font-size: 3em;
    font-weight: 700;
}

h2 {
    font-family: 'Oswald', Helvetica, Arial, Lucida, sans-serif;
    font-size: 2em;
    font-weight: 700;
}

h3 {
    font-family: 'Oswald', Helvetica, Arial, Lucida, sans-serif;
    font-size: 1.5em;
    font-weight: 700;
}

p {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 1em;
}

a {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 1em;
}

header {
    background-color: #0E1A2A;
}

footer {
    background-color: #0E1A2A;
}


@media screen and (max-width: 480px) {
    h2 {
        font-size: 1.5em;
    }
    h3 {
        font-size: 1.2em;
    }
}

.content-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content-element-container{
    max-width: 1500px;
    margin: 5%;
}

/*================ Top nav ================*/

.topnav{
    height: 60px;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    display: flex;
    width: 50%;
    justify-content: right;
}

.logo a {
    color: whitesmoke;
    text-decoration: none;
    font-family: 'Oswald', Helvetica, Arial, Lucida, sans-serif;
    font-size: 1.7em;
    font-weight: 700;
}

.links a {
    display: flex;
    align-items: center;
    color: whitesmoke;
    text-decoration: none;
    font-family: 'Oswald', Helvetica, Arial, Lucida, sans-serif;
    font-size: 1.1em;
    margin-left: 5%;
    margin-right: 5%;
    transition: font-size 0.3s ease;
}

.links a:hover {
    font-size: 1.3em;
}

@media screen and (max-width: 480px) {
    .logo {
        display: none;
    }

    .topnav{
        justify-content: center;
    }
    
    .links {
        width: 100%;
        justify-content: center;
    }

    .links a {
        font-size: 1em;
    }

    .links a:hover {
        font-size: 1.1em;
    }
    
    
}


/*================ Introduction ================*/

.introduction-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("imgs/introductionImg.jpg");
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Start content at the top */
    align-items: center;
    width: 100%;
    aspect-ratio: 12 / 5;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.introduction-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: whitesmoke;
    width: 40%;
    flex: 1;
}

.introduction-svg-container {
    width: 100%;
    display: flex;
    align-items: flex-end;
}

.introduction-svg-container img {
    width: 100%;
    height: 100%;
}


@media screen and (max-width: 1000px) {
    .introduction-text-container {
        width: 50%;
    }

    .introduction-text-container h1{
        font-size: 2.5em;
    }
}

@media screen and (max-width: 768px) {
    .introduction-text-container {
        width: 60%;
    }

    .introduction-text-container h1{
        font-size: 2em;
    }

}

@media screen and (max-width: 480px) {
    .introduction-text-container {
        width: 70%;
    }

    .introduction-text-container h1{
        font-size: 1.7em;
    }
}

/*================ Anariset ================*/

.housing-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.housing-image-item {
    width: 40%;
    aspect-ratio: 5 / 3;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.housing-image-item img {
    width: 100%;
    object-fit: cover;
}

.housing-text-item {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
}

.ajvin-sijte-container {
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.anasjolagret-container {
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.fjallfuran-container {
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.visit-anariset-container {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.visit-anariset-btn a {
    color: whitesmoke;
    background-color: #0E1A2A;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 700;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 50px;
    transition: font-size 0.3s ease;

}

.visit-anariset-btn a:hover {
    font-size: 1.2em;
    background-color: #223650;
}



/*=============== Kontakt ===============*/

.kontakt {
    display: flex;
    align-items: center;
    justify-content: center;
}

.kontakt p {
    color: whitesmoke;
}

.kontakt-container {
    padding: 3%;
}

.copyright {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.copyright p {
    margin-left: 10px;
}



