body {
    margin: 0;
}

h1 {
    font-family: 'Oswald', Helvetica, Arial, Lucida, sans-serif;
    font-size: 3em;
    font-weight: 700;
}

h2 {
    font-family: 'Oswald', Helvetica, Arial, Lucida, sans-serif;
    font-size: 2em;
    font-weight: 700;
}

p {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 1em;
}

a {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 1em;
}

header {
    background-color: #0E1A2A;
}

footer {
    background-color: #0E1A2A;
}


.content-container{
    margin-left: 5%;
    margin-right: 5%;
}

.content-element-container{
    margin-top: 5%;
    margin-bottom: 5%;
}

/*================ Top nav ================*/

.topnav{
    height: 60px;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    display: flex;
    width: 50%;
    justify-content: right;
}

.logo a {
    color: whitesmoke;
    text-decoration: none;
    font-family: 'Oswald', Helvetica, Arial, Lucida, sans-serif;
    font-size: 1.7em;
    font-weight: 700;
}

.links a {
    display: flex;
    align-items: center;
    color: whitesmoke;
    text-decoration: none;
    font-family: 'Oswald', Helvetica, Arial, Lucida, sans-serif;
    font-size: 1.1em;
    margin-left: 5%;
    margin-right: 5%;
    transition: font-size 0.3s ease;
}

.links a:hover {
    font-size: 1.3em;
}


/*================ Introduction ================*/

.introduction-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("imgs/introductionImg.jpg");
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Start content at the top */
    align-items: center;
    width: 100%;
    aspect-ratio: 12 / 5;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.introduction-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: whitesmoke;
    width: 40%;
    flex: 1;
}

.introduction-svg-container {
    width: 100%;
    display: flex;
    align-items: flex-end;
}

.introduction-svg-container img {
    width: 100%;
    height: 100%;
}


@media screen and (max-width: 1000px) {
    .introduction-text-container h1{
        font-size: 2em;
    }
}

@media screen and (max-width: 768px) {
    .introduction-text-container h1{
        font-size: 1.5em;
    }
}

/*================ Anariset ================*/








/*=============== Kontakt ===============*/

.kontakt {
    display: flex;
    align-items: center;
    justify-content: center;
}

.kontakt p {
    color: whitesmoke;
}

.kontakt-container {
    padding: 3%;
}

.copyright {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.copyright p {
    margin-left: 10px;
}



